# Dependencies
/node_modules

# Next.js
/.next/
# /out/ is NOT ignored - needed for Heroku deployment

# Production
/build

# Debug
npm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
